body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    border: 2px dotted red;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 10px 20px;
}

h1 {
    padding: 0.1rem;
    text-decoration: underline;
}

h2 {
    margin-bottom: 5px;
}

ol, ul, p {
    margin-top: 5px;
    padding: 0 20px;
}

ol {
    margin-left: 10px;
    margin-right: 10px;
}

li { 
    width: 100%;
    margin: 5px 0;
}

button {
    padding: 6px 14px;
    font-size: large;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

button :hover { 
    color: rgb(0, 106, 255);
    transition-duration: 500ms;
}

img {
    width: 100%;
    max-width: 600px;
    height: 100%;
    /* max-height: 450px; */
    align-self: center;
}